body {
    font-family: 'sans serif',  'Lucida Grande';
}

h1 {
    color: rgb(23, 10, 107);
    text-align: center;
    font-size: 45px;
    margin: 0px 40px 40px 40px;
}

h2 {
    color: rgb(42, 4, 146);
    text-align: center;
    font-size: 30px;
}

h3 {
    color: dimgray;
    text-align: center;
    font-size: 27px;
}

h4 {
    color: rgb(18, 36, 199);
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

header {
    margin: 0px 80px 80px 80px;
}

footer {
    text-align: center;
    margin-top: 10px;
}

.respostas {
    display: inline-block;
    width: 40%;
    border: 1px solid black;
    height: 250px;
    text-align: center;
    
}

#tabela {
    display: flex;
    justify-content: center;
}

#greeting {
    color: dimgray;
    text-align: center;
    font-size: 33px;
}

#correctOne, #correctTwo, #correctThree {
    color: rgb(51, 175, 82);
}

#wrongOne, #wrongTwo, #wrongThree {
    color: rgb(184, 22, 22);
}